.container{
    display: flex;
    flex-direction: column;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        flex-direction: column;
    }
}
.header{
    background-color: #9D8080;
    display: flex;
    justify-content: space-between;
    width: auto;
}
.imgs{
    width: 200px;
    height: 50px;
}
.nav {
	margin-top: 10px;
}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: #23230C;
	text-decoration: none;
	padding: 7px;
}

nav ul li a:focus {
	text-decoration: underline;
}

.div{
    background-image: url(hero.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: auto;
    padding-top: 100px;
    padding-bottom: 297px;
    width: auto;
}
.titulo{
    color: #FFFFFF;
}
.texto1{
    color: #FFFFFF;
}
.btn1{
    font-size:larger;
    color: #433E1F;
    padding: 15px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 180px;
}
.imgss{
    width: 100%;
    height: 450px;
}
.div1{
    text-align: center;
    padding: 100px;
}
.div2{
    background-color: #C3C63B;
    display: flex;
    width: 100%;
}
.imgs1{
    padding: 2%;
    width: 41%;
    height: 400px;
}
.imgs2{
    padding: 2%;
    width: 50%;
    height: 400px;
}
.div3{
    background-color: #C3C63B;
    display: flex;
    width: auto;
}
.imgs3{
    padding: 2%;
    width: 48%;
    height: 400px;
}
.imgs4{
    padding: 2%;
    width: 43%;
    height: 400px;
}
.div4{
    color: #FFFFFF;
    text-align: center;
    background-color: #191C03;
    padding: 30px;
    width: auto;
}
.texto{
    font-size: 20px;
    color: #C3C63B;
}
.div5{
    text-align: center;
    color: #FFFFFF;
    background-color: #191C03;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    width: auto;
}
.div6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #C3C63B;
    padding: 150px;
}
.input{
    border: 1px solid #C3C63B;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
    width: 570px;
}
.btn{
    color: #FFFFFF;
    background-color: #C3C63B;
    border-radius: 3px;
    border: 1px solid #C3C63B;
    padding: 15px;
    margin-left: 20px;
}
.final{
    padding: 50px;
    text-align: center;
    color: #C3C63B;
    background-color: #393F06;
}
.imgss1{
    width: 48px;
}